---
BasedOnStyle: LLVM
AccessModifierOffset: -8
AllowShortFunctionsOnASingleLine: Inline # Change to empty?
AllowShortIfStatementsOnASingleLine: WithoutElse # remove?
BreakTemplateDeclarations: Yes
BreakBeforeBraces: Linux # Use Custom with BraceWrapping? I kinda like UE's style minus the ifs
ColumnLimit: 120
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: Always
FixNamespaceComments: true
IndentAccessModifiers: false
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
IndentWidth: 8
InsertNewlineAtEOF: true
LineEnding: LF
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All # remove and use WrapNamespaceBodyWithEmptyLines: Always? Would look a bit cleaner
PackConstructorInitializers: BinPack
TabWidth: 8
UseTab: AlignWithSpaces
---
Language: Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left
