---
BasedOnStyle: LLVM
AccessModifierOffset: -8
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Attach
ColumnLimit: 100
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: Always
IndentAccessModifiers: false
IndentCaseLabels: true
IndentWidth: 8
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
PackConstructorInitializers: BinPack
UseTab: Always
---
Language: Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left
