---
BasedOnStyle: LLVM
AccessModifierOffset: -8
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
BreakTemplateDeclarations: Yes
BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: true
    AfterStruct: true
    AfterEnum: true
    AfterFunction: true
    AfterNamespace: false
    AfterUnion: true
    BeforeCatch: true
    BeforeElse: true
    SplitEmptyFunction: false
    SplitEmptyRecord: false
    SplitEmptyNamespace: false
ColumnLimit: 120
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: Always
FixNamespaceComments: true
IndentAccessModifiers: false
IndentCaseLabels: false
IndentPPDirectives: BeforeHash
IndentWidth: 8
InsertNewlineAtEOF: true
LineEnding: LF
MaxEmptyLinesToKeep: 1
WrapNamespaceBodyWithEmptyLines: Always
PackConstructorInitializers: BinPack
TabWidth: 8
UseTab: AlignWithSpaces
---
Language: Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left
