[submodule "Flibbert/vendor/glew"]
	path = Flibbert/vendor/glew
	url = ssh://git@github.com/omniavinco/glew-cmake.git
[submodule "Flibbert/vendor/glm"]
	path = Flibbert/vendor/glm
	url = ssh://git@github.com/g-truc/glm.git
[submodule "Flibbert/vendor/glfw"]
	path = Flibbert/vendor/glfw
	url = ssh://git@github.com/glfw/glfw.git
[submodule "Flibbert/vendor/imgui"]
	path = Flibbert/vendor/imgui
	url = ssh://git@github.com/ocornut/imgui.git
