.DS_Store

# CMake/Clang
/.cache/
/[Bb]uild/
/cmake-build*/
/Binaries/
/Packaging/
/__cmake_systeminformation/
compile_commands.json
# This is just a symlink to the actual debug file that gets
# generated. Nova's addon doesn't pick up the file in the subdirectory
!/compile_commands.json

# Visual Studio 2015/2017 cache/options directory
.vs/

# Local History for Visual Studio
.localhistory/

# Visual Studio History (VSHistory) files
.vshistory/

# VS Code files for those working on multiple tools
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

## JetBrains

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
